.header-label {
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Nanum Gothic Coding", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  color: rgb(0, 255, 0);
  border-bottom: 2px solid rgb(0, 255, 0);
  width: 100%;
  padding: 5px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header-label-active {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 3px solid rgb(0, 255, 0);
  border-left: 3px solid rgb(0, 255, 0);
  border-top: 2px solid rgb(0, 255, 0);
}

.header-spacer {
  height: 10px;
  width: calc(100% - 4px);
  border-width: 0px, 4px, 0px, 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgb(0, 255, 0), rgba(0, 0, 0, 0)) 1
    100%;
}
