.main-content {
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.stats-content {
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 15vh);
  grid-template-areas:
    ".      .     bar1     .        ."
    ".   bar2  pipboy   bar3   ."
    "bar4   bar4     pipboy   bar5   bar5"
    ".   bar6  pipboy   bar7   ."
    ".     . bar8          .     .";
}

#tech1 {
  grid-area: bar1;
  align-self: center;
}
#tech2 {
  grid-area: bar2;
  align-self: center;
}
#tech3 {
  grid-area: bar3;
  align-self: center;
}
#tech4 {
  grid-area: bar4;
  align-self: center;
}
#tech5 {
  grid-area: bar5;
  align-self: center;
}
#tech6 {
  grid-area: bar6;
  align-self: center;
}
#tech7 {
  grid-area: bar7;
  align-self: center;
}
#tech8 {
  grid-area: bar8;
  align-self: center;
}
#tech9 {
  grid-area: bar9;
  align-self: center;
}

#vault-boy {
  grid-area: pipboy;
  justify-self: center;
  align-self: center;
  height: 100%;
  max-height: 100%;
}

.techbar-label {
  width: 100%;
  color: rgb(0, 255, 0);
  font-weight: 700;
  text-align: center;
  margin: 2px;
}

.techbar-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.techbar-container {
  border: 1px solid rgb(0, 255, 0);
  border-radius: 5px;
  padding: 0px;
}

.techbar-inner {
  height: 100%;
  background: rgb(0, 255, 0);
  border-radius: 5px 0px 0px 5px;
  margin-left: -1px;
}

.about-modal {
  position: fixed;
  width: 0px;
  height: 0px;
  border: 2px solid rgb(0, 255, 0);
  border-style: double;
  background: rgb(0, 255, 0);
  color: rgb(0, 90, 0);
  font-size: 1.2em;
  font-weight: 700;
  z-index: -5;
  font-family: "Nanum Gothic Coding", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  display: flex;
  flex-direction: column;
}

.about-modal-open {
  width: 90vw;
  height: auto;
  max-height: 80vh;
  z-index: 20;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2vh 2vw;
  border-radius: 3px;
  box-shadow: 10px 10px rgb(0, 80, 0);
}

.modal-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.modal-close {
  height: 40px;
}

.avatar {
  max-height: 60vh;
}

.fa-times-circle:hover {
  transform: scale(1.3);
}
