.main-content {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
}

#vault-boy {
  min-width: 30vw;
  grid-row: 2, span 3;
  grid-column: 3, span 3;
}

.techbar-label {
  width: 100%;
  color: rgb(0, 255, 0);
  font-weight: 700;
  text-align: center;
  margin: 2px;
}

.techbar-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techbar-container {
  border: 1px solid rgb(0, 255, 0);
  border-radius: 5px;
  padding: 0px;
}

.techbar-inner {
  height: 100%;
  background: rgb(0, 255, 0);
  border-radius: 5px 0px 0px 5px;
  margin-left: -1px;
}
