button:focus {
  outline: 0;
}

.App {
  padding: 20px;
  font-family: "Nanum Gothic Coding", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  color: green;
}

.app-background {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: flex-start; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-background:after {
  content: "";
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: crt-twitch 10s linear both infinite;
  animation: crt-twitch 10s linear both infinite;
}
@-webkit-keyframes crt-twitch {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  1% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.7;
  }
  7% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  8% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  22% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  23% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.7;
  }
  28% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  34% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes crt-twitch {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  1% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.7;
  }
  7% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  8% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  22% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  23% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.7;
  }
  28% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  34% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.app-background {
  /* ff3.6+ */ /* safari5.1+,chrome10+ */ /* opera 11.10+ */ /* ie10+ */
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* w3c */
}
