.App {
  padding: 20px;
  font-family: "Nanum Gothic Coding", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  color: green;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* w3c */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header:after {
  content: "";
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  transform: scale(1);
  animation: crt-twitch 20s linear both infinite;
}

.app-background {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-background:after {
  content: "";
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  transform: scale(1);
  animation: crt-twitch 5s linear both infinite;
}
@keyframes crt-twitch {
  0% {
    transform: scale(1);
  }
  1% {
    transform: scale(1.15);
  }
  7% {
    transform: scale(1.15);
  }
  8% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.15);
  }
  23% {
    transform: scale(1.15);
  }
  28% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.15);
  }
  34% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(1);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-background {
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* ie10+ */
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* w3c */
}
